@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Carter+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #34434a;
}

.logoTitle {
  font-family: "Carter One", system-ui;
}

input[type="file"]::file-selector-button {
  content: "Choose a file" !important;
  padding: 7px 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
